@model int
<div class="divTopHeader divGradient">
    <div class="divTitle">
        <span>Total de Votos Hoje</span>
    </div>
</div>
<div class="divText">
    <span class="solicitation-count-label">@Model</span>
    <br />
    <span class="solicitation-count-description">Votos</span>
</div>
