@model bool
<script>
    $(document).ready(function () {
        $("#divAllMiddle").width($("#divAll").width() - 300);
    });

    function logOut() {
        $.ajax({
            type: "GET",
            url: '/Login/LogOff',
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: function (data) {
                location.href = "/";
            },
            error: function () { alert('Erro ao realizar logoff'); }
        });
    }
</script>
<div class="authentication-header">
    <div class="authentication-footer-text">
        <div class="header-logo">
        </div>
    </div>
    <div class="user-text-header">
        @{Html.RenderAction("NameHeader");}
        <div style="float: right; margin-left: 50px;">
            <a rel="nofollow" href="#" onclick="logOut();">Sair</a>
        </div>

    </div>
</div>
<div id="divAll" class="divAll">
    <div class="divAllLeft">
        <div class="divHeaderLeft divStyle">
            @{Html.RenderAction("DateTimeWeek");}
        </div>
        <div class="divLeft divStyle">
            @{Html.RenderAction("RestaurantsCount");}
        </div>
        <div class="divLeft divStyle">
            @{Html.RenderAction("CountUsersWithVotes");}
        </div>
        @{
            if (Model)
            {
                <div class="divLeft divStyle">
                    @{
                        Html.RenderAction("Administration");
                    }
                </div>
                        }
        }
    </div>
    <div id="divAllMiddle" class="divAllMiddle">
        <div id="Graphs">
            <div class="divReportSize divStyle">
                @{Html.RenderAction("GraphicRestaurantVoted", "Graphics");}
            </div>
            <div class="divReportSize divStyle">
                @{Html.RenderAction("GraphicAmountVotesRestaurant", "Graphics");}
            </div>
            <div class="divReportSize divStyle">
                @{Html.RenderAction("GraphicMostVotedInWeek", "Graphics");}
            </div>
        </div>
    </div>
</div>
